<div class="container my-2">
    <div class="card mb-3">
      <a href="https://www.codingninjas.com/"><img src="https://files.codingninjas.com/web-banner-28759.png" class="card-img-top" alt="poster"></a>
      
      
      <div class="card-body">
        <h1 class="text-center text-success">
          <span class="text-danger"> <%=jobDetail.job_category%> </span> oppertunity
          in <%=jobDetail.job_location%> at
          <span class="text-info"> <%=jobDetail.company_name%> </span>
        </h1>
        
        <div class="actions d-flex align-items-centre">
          <span style="width: 160px" class="bg-warning bg-opacity-100 border border-success border border-success p-1 border-opacity-50 rounded">
            Actively hiring<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow mx-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"></path></svg></span>
          <div class="action-right mx-2 px-2 mt-1">
            <a href="/update/<%=jobDetail.id%>" class="mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
              </svg>
              </a>
            <a class="text-danger" href="/job/delete/2">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"></path>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path>
              </svg>
            </a>
          </div>
        </div>
        
  
        <div class="container d-flex flex-column align-items-centre justify-content-start my-3">
          <h5 class="my-1"><%=jobDetail.company_name%></h5>
          <div>
            <span>Tech</span>
            <span class="text-success"><%=jobDetail.job_designation%></span>
          </div>
          <div class="d-flex flex-column align-items-centre justify-content-start p-2">
            <span class="">
              <%=jobDetail.job_location%>
            </span>
            <span class="">
              <%=jobDetail.salary%>
            </span>
            <span>
              Apply By <%=jobDetail.apply_by%>
            </span>
            <span>
              Number of openings <%=jobDetail.number_of_openings%></span>
            <a style="text-decoration: none; color: rgb(215, 20, 85)" href="/applicants/<%=jobDetail.id%>">
              <span>
                Applicants 
              </span>
            </a>
          </div>
  
          <div class="container"> 
              <div class="skills p-1">
              <% jobDetail.skills_required.forEach((skill)=>{%>          
              <button class="btn btn-sm btn-outline-info"><%=skill%></button>  
              <%})%>
          </div>   
            <a href="/apply/<%=jobDetail.id%>" class="btn  btn-primary btn-lg lbtn"> Apply Now </a>
          </div>
        </div>
        <!-- job posted -->
        <small class="text-body-secondary">
          <% if(jobDetail.created_at){%>
          <span style="width: 160px" class="bg-success text-white border border-success border border-success p-1 border-opacity-50 rounded">
            Posted: <%= jobDetail.created_at%>
          </span>
          <%}%>
        </small>
        <!-- job posted -->
      </div>

    </div>
  </div>